@import "./variables";

.route {
    position: relative;
    padding-bottom: 4em;
    min-height: 100vh;
}

.page {
    padding: 1em;
    margin: auto;

    @media (min-width: 40em) {
        max-width: 75vw;
    }

    @media (min-width: 120em) {
        max-width: 90em;
    }
}
